body {
    font-family: cursive;
    background-color: #ffffff;
    color: #000000;
    margin: 10px 100px;
    line-height: 1.4;
}

span {
    color: blue;
    cursor: help;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

.tabela {
    align-self: center;
    padding: 20px;
    margin: 10px;
}

.tabela__img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 4px 0.5em 0.5px black;
    cursor: help;
}

.openpopover {
    text-align: justify;
}

.openpopover__title {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.openpopover__p {
    cursor: help;
    text-align: center;
}

.openpopover__img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
